<template>
    <div
      class="py-10 text-center md:text-left"
      style="background-color: rgba(29, 37, 46, 1)"
    >
      <div class="mx-6 flex flex-col lg:flex-row">
        <div class="basis-3/12">
          <FpImage
            image="assets/images/logo-sponsored-by-red-hat.png"
            alt="Sponsored by Red Hat Logo"
            style="color: rgb(250 250 250)"
            class="w-1/2 ml-14 lg:ml-1 mb-4"
          />
        </div>
  
        <div class="flex flex-col lg:flex-row space-x-4 text-center md:text-left">
          <p style="color: rgb(250 250 250)">Fedora is sponsored by Red Hat.</p>
          <p style="color: rgb(163 163 163)">
            Learn more about the relationship between Red Hat and Fedora.
          </p>
        </div>
      </div>
    </div>
  </template>